<div class="global-w container p-3 my-3 border">
  <%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <%
=begin %>
    <% if login.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(login.errors.count, "error") %> prohibited this opinion from being saved:</h2>

        <ul>
          <% login.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <%
=end %>

    <div class="form-group">
      <%= form.label :username %>
      <%= form.text_field :username, { class:"form-control", placeholder:"Enter your username" } %>
    </div>
    <%= form.submit 'Sign in', class:"btn btn-outline-primary btn-lg btn-block" %>
  <% end %>
</div>
