<%= form_with(model: opinion) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
        <% opinion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field pb-2">
    <%= form.text_area :text, id: :opinion_text, class: 'opinion-text w-100 px-4 pt-4 pb-0', placeholder: 'Your thoughts about this recipe' %>
    <%= form.hidden_field :created_at, value: Time.current %>
    <%= form.hidden_field :author_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit 'SHARE', class: 'share-opinion-bt w-100 btn' %>
  </div>
<% end %>
