<%= form_with(model: opinion) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
        <% opinion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field pb-2">
    <%= form.text_area :text, placeholder: 'Thoughts on the recipe', class: 'w-100' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
