<div class="opinions-index-container position-absolute border border-danger">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <%= render 'top_nav' %>

  <div class="opinions-dashboard-container p-4">
    <div class="new-opinion p-4 mb-4">
      <h2 class='pb-2'>SHARE A RECIPE</h2>
      <%= render 'form', opinion: @opinion %>
    </div>

    <main class="opinions-list-wrapper">
      <% @opinions.includes(:author).each do |opinion| %>
        <div class="opinion-info">
          <h3 class="opinion-author-name"><%= opinion.author.username %></h3>
          <span class="opinion-time-published"><%= calculate_time_ago(opinion.created_at) %></span>
        </div>
        <p><%= opinion.text 'SHARE' %></p>
      <% end %>
    </main>
  </div>
</div>


