<%= render 'layouts/left_side_menu' %>
<%= render 'layouts/header_nav' %>
<%= render 'layouts/right_side_nav' do %>
    <%= render('layouts/homepage_right_side_nav', users: current_user.new_suggestions.ordered_by_most_recent) %>
<% end %>

<div class="opinions-index-container position-absolute">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <%= render 'top_nav' %>

  <div class="opinions-dashboard-container p-4">
    <div class="create-new-opinion p-4 mb-4">
      <h2 class='pb-2'>SHARE A RECIPE</h2>
      <%= render 'form', opinion: @opinion %>
    </div>

    <% if @timeline_opinions.any? %>
      <main class="opinions-list-wrapper p-4">
        <% if !latest_opinions_count.zero? %>
          <p class="new-opinions-count pr-4 pb-4"><%= latest_opinions_count %> NEW RECIPES SHARED</p>
        <% end %>
        <hr>
        <% @timeline_opinions.each do |opinion| %>
          <div class="opinion-card pt-4 overflow-hidden">
            <%= link_to profile_picture_square(opinion.author, 50, alt:"author thumbnail picture", class_name:"opinion-author-thumb-pic mr-3 float-left"), user_path(opinion.author) %>
            <div class="opinion-info d-flex justify-content-between flex-grow-1">
              <h3 class="opinion-author-name"><%= link_to opinion.author.fullname, user_path(opinion.author) %></h3>
              <span class="opinion-time-published"><%= calculate_time_ago(opinion.created_at) %></span>
            </div>
            <p class="opinions-text"><%= opinion.text %></p>
            <%= render 'layouts/vote_module', opinion: opinion, path: request.path %>
          </div>
        <% end %>
      </main>
    <% end %>
  </div>
</div>


