<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
    <%= form.label :fullname %>
    <%= form.text_field :fullname %>
    <%= form.label :photo %>
    <%= form.file_field :avatar %>
    <%= form.label :cover_image %>
    <%= form.file_field :cover_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
