<div class="profile-detailed-info">
  <div class="profile-info-actions p-4 d-flex flex-column align-items-center">
    <div class="profile-info-picture-div d-flex p-4 align-items-center">
      <%= follow_button(user) %>
      <%= render 'layouts/userpage_r_side_main_profile_picture', user: user %>
      <%= userpage_opinions_link(user) %>
    </div>
    <h2 class="profile-info-fullname text-center mb-1"><%= user.fullname.upcase %></h2>
    <p class="profile-info-username-handle"><%= "@#{user.username}" %></p>
  </div>
  <div class="profile-info-stats d-flex border-top border-bottom">
    <div class="user-stats-box d-flex flex-column justify-content-center align-items-center flex-shrink-0 flex-grow-0">
      <p class="user-stats-total"><%= user.opinions.count %></p>
      <p>Recipes</p>
    </div>
    <div class="user-stats-box d-flex flex-column justify-content-center align-items-center flex-shrink-0 flex-grow-0 border-right border-left">
      <p class="user-stats-total"><%= user.followings.count %></p>
      <p>Following</p>
    </div>
    <div class="user-stats-box d-flex flex-column justify-content-center align-items-center flex-shrink-0 flex-grow-0">
      <p class="user-stats-total"><%= user.followers.count %></p>
      <p>Followers</p>
    </div>
  </div>
</div>

<div class="followed-by-module">
  <h3 class="followed-by-module-title d-flex px-4 align-items-center justify-content-start">FOLLOWED BY</h3>
  <hr class="my-0 mx-4">
  <% if users %>
    <ul class="recently-joined-users pt-3 py-md-3 px-4 m-0">
      <% users.each do |user| %>
        <li class="follower-card d-flex justify-content-between mb-3 align-items-center">
          <div class="profile-info-div d-flex position-relative">
            <%= link_to '', user_path(user), class:'stretched-link' %>
            <%= profile_picture_circle(user, 40, alt: "user-thumbnail-picture", class_name:"new-user-thumb-pic mr-2")%>
            <div class="follower-info d-flex flex-column justify-content-center">
              <h3 class="follower-fullname"><%= user.fullname %></h3>
              <p class="follower-username"><%= "@#{user.username}" %></p>
            </div>
          </div>
          <%= follow_button_small(user) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
