<!DOCTYPE html>
<html>
  <head>
    <title>ReceipeBuddies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="page-container position-relative">
      <% if logged_in? && root_path || logged_in? && user_path %>
        <%= render 'layouts/left_side_menu' %>
        <%= render 'layouts/header_nav' %>
        <%= render 'layouts/right_side_nav' %>
      <% end %>

      <%= yield %>
    </div>

    <script src="https://kit.fontawesome.com/2bdc450678.js" crossorigin="anonymous"></script>
  </body>
</html>
