<!DOCTYPE html>
<html>
  <head>
    <title>ReceipeBuddies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta property="og:image" content="../../../.github/images/website_thumbnail.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="page-container position-relative">
      <%= yield %>
    </div>

    <script src="https://kit.fontawesome.com/2bdc450678.js" crossorigin="anonymous"></script>
  </body>
</html>
